/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
}

header {
    padding: 32px;
    h1 {
        font-weight: normal;
        font-size: 26px;
        color: #fff;
        strong {
            color: rgb(220, 36, 31);
        }
    }
    h2 {
        font-weight: normal;
        color: #555;
        font-size: 14px;
    }
}

.bakerloo .line { background-color: rgb(178, 99, 0) }
.central .line { background-color: rgb(220, 36, 31) }
.circle .line { background-color: rgb(255, 211, 41) }
.district .line { background-color: rgb(0, 125, 50) }
.hammersmith-city .line { background-color: rgb(244, 169, 190) }
.jubilee .line { background-color: rgb(161, 165, 167) }
.metropolitan .line { background-color: rgb(155, 0, 88) }
.northern .line { background-color: rgb(0, 0, 0) }
.piccadilly .line { background-color: rgb(0, 25, 168) }
.victoria .line { background-color: rgb(0, 152, 216) }
.waterloo-city .line { background-color: rgb(147, 206, 186) }
.overground .line { background-color: rgb(239, 123, 16) }


.bus .line { background-color: #D01A1E }

.thameslink .line { background-color: #0072BC }
.c2c .line { background-color: #b7007c }
.southeastern .line { background-color: #00afe8 }
.southern .line { background-color: #008000 }
.great-northern .line { background-color: #990000 }
.greater-anglia .line { background-color: #d70428 }
.east-midlands-trains .line { background-color: #ffa500 }

section#tube {
    padding: 0 35px;
}

section {
    // box-sizing: border-box;
    float: left;
    width: 31%;

    &:last-of-type {
        border-right: none;
    }

    table {
        border-collapse: collapse;
        td {
            color: #fff;
            padding: 8px;
        }
    }
}